

@media screen and (max-width:925px) {

    .center
    {

    top: -20px;
    }
}
@media screen and (max-width:770px) {
    .navbar-inverse .navbar-nav>li>a

    {
        font-size: 13px;
    }

}
@media screen and (max-width:660px) {

    .listing-m3 .listing-item-parameters ul
    {
        columns: 1;
        display: block;
        text-align: center;
    }

}


@media screen and (max-width:470px) {
    .center
    {
    top: 20px;
    }
}

@media screen and (max-width:420px) {
 .center
    {

    top: 30px;
    margin-bottom: 45px;

    }

    .flag1
    {
        
        top: 110px;
    }
}
