
/*HEADER CSS*/
*
{
  outline: none;
  margin: 0px;
  padding:0px;
}
ul li{
  list-style-type: none;
}
/* fonts*/
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Regular.woff');
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans/OpenSans-Semibold.woff');
}
@font-face
{
  font-family:"Open Sans Light";
  src:url("../fonts/OpenSans/OpenSans-Light.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'Damion';
  font-style: normal;
  font-weight: 400;
  src: local('Damion'), url(../fonts/Damion/font.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
body
{
  background-image: url("../images/background.png");
  font-family: 'Open Sans', sans-serif;
  }
  /*toggle_icon*/
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover
{
  background-color: transparent;
  border: none;
}
.navbar-inverse .navbar-toggle
{
  border: none;
}
#nav-icon3{
  width: 40px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

 #nav-icon3 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #FFFDD3;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 12px;
}

#nav-icon3 span:nth-child(4) {
  top: 24px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
.glyphicon
{
  font-size: 9px;
  font-weight: 300;
}
.navbar-inverse .navbar-nav>li>a
{
  font-family:  'Open Sans', sans-serif;
  font-weight: 400;
  color: #FFFDD3;
  font-size: 13px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
  color: #FFFDD3;
   background-color:#7b1c1e ;
}
.dropdown-menu
{
  padding:0px 0;
}
.navbar-inverse
{
  background-image: -moz-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  border-radius: 0px;
  position: fixed;
  z-index:111;
  width:100%;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li:hover
{
  color: white;
  background-color: black;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img
{
  width:100%;
}
.header
{
  position: relative;
  top:31px;
  z-index:9;
  padding:0;
  overflow: hidden;
  
}

.mainheader
{
position: relative;
}

.logo
{
    z-index: 13;
    position: absolute;
    top: 20px;
    right: 50%;
    transform: translate(50%, 0%);

}

.imglogo{
  box-shadow: inset 0px 0px 0px -100px #ABABAB,0px 0px 14px 0px #242424;
  -webkit-box-shadow: inset 0px 0px 0px -100px #ABABAB,0px 0px 14px 0px #242424;
  -moz-box-shadow: inset 0px 0px 0px -100px #ABABAB,0px 0px 14px 0px #242424;
  -o-box-shadow: inset 0px 0px 0px -100px #ABABAB,0px 0px 14px 0px #242424;
}
.flag1
{
  display: inline-flex;
  position: absolute;
  left: 50%;
  top: 67%;
  transform: translate(-50%, -50%);
}
.flag2
{
  margin-left: 5px;
  margin-right: 5px;
}

.PROPRIETES:hover
{
text-decoration: none;
color: #fff;
font-weight: 600;
text-shadow: -3px 0px 3px rgb(38, 38, 38);
}
.PROPRIETES1:hover
{
text-decoration: none;
color: #fff;
font-weight: 600;
text-shadow: -3px 0px 3px rgb(38, 38, 38);
}

.images{
position: relative;
width: 153px;
height: 153px;
background-image: url("../images/image.png");
background-repeat: no-repeat;
background-size: cover;
display: inline-block;
}
.images1{
position: relative;
width: 153px;
height: 153px;
background-image: url("../images/image1.png");
background-repeat: no-repeat;
background-size: cover;
display: inline-block;
}
.images2{
position: relative;
width: 153px;
height: 153px;
background-image: url("../images/image2.png");
background-repeat: no-repeat;
background-size: cover;
display: inline-block;
}
.images3{
position: relative;
width: 153px;
height: 153px;
background-image: url("../images/image3.png");
background-repeat: no-repeat;
background-size: cover;
display: inline-block;
}
.images4{
position: relative;
width: 153px;
height: 153px;
background-image: url("../images/image4.png");
background-repeat: no-repeat;
background-size: cover;
display: inline-block;
}
.images5{
position: relative;
width: 153px;
height: 153px;
background-image: url("../images/image5.png");
background-repeat: no-repeat;
background-size: cover;
display: inline-block;
}
.images6{
position: relative;
width: 153px;
height: 153px;
background-image: url("../images/image6.png");
background-repeat: no-repeat;
background-size: cover;
display: inline-block;
}

.PROPRIETES {
  font-size: 12px;
  font-family: "Open Sans";
  color: #fff;
  text-shadow: 0px 2px 4.76px rgba(0, 0, 0, 0.68);
  -moz-transform: matrix( 1.32477994831952,0,0,1.32940737583161,0,0);
  -webkit-transform: matrix( 1.32477994831952,0,0,1.32940737583161,0,0);
  -ms-transform: matrix( 1.32477994831952,0,0,1.32940737583161,0,0);
  cursor: pointer;
  position: absolute;
  top: 127px;
  left: 31px;
}
.PROPRIETES1 {
  font-size: 12px;
  font-family: "Open Sans";
  color: #fff;
  text-shadow: 0px 2px 4.76px rgba(0, 0, 0, 0.68);
  -moz-transform: matrix( 1.32477994831952,0,0,1.32940737583161,0,0);
  -webkit-transform: matrix( 1.32477994831952,0,0,1.32940737583161,0,0);
  -ms-transform: matrix( 1.32477994831952,0,0,1.32940737583161,0,0);
  cursor: pointer;
  position: absolute;
  top: 112px;
  right: 31px;
  line-height: 1.2;
}
.center
{
width: 100%;
position: relative;
top: -70px;
z-index: 39;
}
/*CONTENT CSS*/
.content
{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  
}
.Coups_de_Coeur
{
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 32px;
  margin-top: 0;
}
.pics
{
  position: relative;
}
.VENTE {
  background-image: -moz-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  font-size: 13px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 1.846;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 60px;
  height: 24px;
  z-index: 111;
}

.Title_bottom_border {
  background-image: url("../images/Title bottom border.png");
  width: 215px;
  height: 2px;
  margin:0 auto;
}


.Toutes_nos_annonces__ {
  font-size: 15px;
  font-family: "Open Sans";
  color: inherit;
  line-height: 4.846;
  -moz-transform: matrix( 0.92103075644223,0,0,0.92110874200426,0,0);
  -webkit-transform: matrix( 0.92103075644223,0,0,0.92110874200426,0,0);
  -ms-transform: matrix( 0.92103075644223,0,0,0.92110874200426,0,0);
  }
.Toutes_nos_annonces__:hover
{
text-decoration: none;
color: inherit;
text-shadow: -3px 0px 9px rgb(38, 38, 38);
}
.ourSecondCarousel
{
clear: both;
}
.ourSecondCarousel .owl-item
{
border-radius: 3px;
box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
width: 236px important;
background-color: white;

}
.ourSecondCarousel .owl-item img{
  height: 153px;
  object-fit: cover;
}
.ourSecondCarousel .owl-item
{
  width: none;
}
.hr {
border: 1px solid white;
position: absolute;
top: 6px;
position: absolute;
width:100%;
}
.hr1 {
border: 1px solid white;
position: absolute;
top: 58px;
position: absolute;
width:100%;
}
.Background {
position: relative;
background-image: -moz-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
background-image: -webkit-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
background-image: -ms-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
height: 66px;
}
.Les_Angles_735_000_€_FAI_1_ {
font-size: 16px;
font-family: "Open Sans";
color: rgb(255, 255, 255);
text-align: left;
-moz-transform: matrix( 0.92103075644223,0,0,0.92110874200426,0,0);
-webkit-transform: matrix( 0.92103075644223,0,0,0.92110874200426,0,0);
-ms-transform: matrix( 0.92103075644223,0,0,0.92110874200426,0,0);
position: absolute;
top: 14px;
left: 14px;
}
.table {
font-size: 13px;
line-height: 13px; 
margin-top: 18px;}
.table td, .table tr {
border: none;
text-align: -webkit-auto; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
padding: 5px 20px;
vertical-align: top;
border: none;
font-size: 13px;
font-family: "Open Sans";
color: rgb(135, 135, 135);
line-height: 8px;
-moz-transform: matrix( 0.92103075644223,0,0,0.92110874200426,0,0);
-webkit-transform: matrix( 0.92103075644223,0,0,0.92110874200426,0,0);
-ms-transform: matrix( 0.92103075644223,0,0,0.92110874200426,0,0);

}

.ourSecondCarousel .owl-nav
{
  display: block !important;
}

.ourSecondCarousel .owl-nav div
{
  position: absolute;
  background-color: white;
  width: 30px;
  height: 30px;
  padding-top: 4px;
  font-weight: bold;
  border: 1px solid #d5d5d5;
  color: #373737;
}

.ourSecondCarousel .owl-nav .owl-next
{
  right: -40px;
  bottom: 149px;
}

.ourSecondCarousel .owl-nav .owl-prev
{
  left: -40px;
  bottom: 149px;
}

.Bonne
{
  font-family: 'Damion', cursive;
  font-weight: 300;
  font-size: 32px;
  margin-top: 40px;
  text-align: -webkit-center;

}
.Parce{
  font-weight: 300;
  font-size: 15px;
  font-family: "Open Sans Light";
  color: black;
  text-align: justify;
  margin: 0 15px;
}

.slider-row
{
  padding-left: 80px;
  padding-right: 80px;
}
/*-------------------- Footer Model2 Content Starts -------------------*/
/*--- Footer General Styles Start ---*/
body>footer.footer-m2 {
  padding: 0;
}
.footer-m2 p {
  margin: 0;
  padding: 0;
}
/*--- Footer General Styles End ---*/

/*--- Footer Top Links Start ---*/
#footer
{
  background-color: #e5e5e5;
  width: 100%;
  height: auto;
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 300px;
  vertical-align: top;
}
.footer-m2 .footer-top-links ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  padding-top: 9px;
}
.footer-m2 .footer-top-links li {
  display: block;
  margin: 0;
  padding: 0;
}
.footer-m2 .footer-top-links li span {
  display: none;
  color: #e5e5e5;
}
.footer-m2 .footer-top-links li a {
  font-size: 11px;
  text-transform: uppercase;
  color: #FFFDD3;
}
/*--- Footer Top Links End ---*/

/*--- Footer Contacts-Partners Block Starts ---*/
.footer-m2 .footer-contacts-partners {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.footer-m2 .footer-contacts {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1px;
  padding-right: 0px;
}
.footer-m2 .footer-partners {
  line-height: 46px;
  padding-left: 0px;
  padding-right: 0px;
}
.footer-m2 .footer-partners div:nth-child(2) {
  padding-left: 5px;
}
/*--- Footer Contacts-Partners Block Ends ---*/

/*--- Footer Bottom Links Start ---*/
.footer-m2 .footer-btm-links {
  padding-bottom: 15px;
  padding-top: 10px;
  padding-left: 1px;
  padding-right: 1px;
}
.footer-m2 .footer-btm-links li {
  padding: 0 15px 0 0;
  float: left;
  vertical-align: top;
  line-height: 12px;
  padding-top: 2px;
}
.footer-m2 .footer-btm-links a {
  font-size: 11px;
  text-decoration: none;
}
.footer-m2 .footer-btm-links a:hover,
.footer-m2 .footer-btm-links a:focus {
  text-decoration: underline;
}
/*--- Footer Bottom Links End ---*/

/*--- Footer Copyright Block Starts ---*/
.footer-m2 .footer-copyright-block {
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer-m2 .footer-copyright-info {
  padding-left: 1px;
  padding-right: 0px;
}inline-flex;inline-flex;
.footer-m2 .footer-copyright-logo {

  padding-left: 2px;
  padding-right: 0px;

}
.footer-m2 .footer-copyright-block .footer-copyright-logo p {
  font-size: 9px;
  line-height: 10px;
}
.footer-m2 .footer-copyright-block .footer-copyright-logo div:nth-child(1) {
  padding-right: 3px;
  display: inline-flex;
}
.footer-m2 .footer-copyright-block .footer-copyright-logo div:nth-child(2) {
  padding-left: 3px;
  text-align: left;
}
/*--- Footer Copyright Block Ends ---*/

/*-------------------- Footer Model2 Content Ends --------------------*/

/*-------------------- Footer Model2 Colors Start --------------------*/
/*--- Footer General Colors Start ---*/
body>footer.footer-m2 {
  padding: 0;
 
}
.footer-m2 .footer-top-links-bg {
  background-color: transparent;
}
.footer-m2 .footer-contacts-partners-bg,
.footer-m2 .footer-btm-links-bg,
.footer-m2 .footer-copyright-block-bg {
margin-bottom: 17px;
}
.rowcontainer
{
    border-bottom: 1px solid #b0b0b0;
}

.footer-m2 a {
  color: #646464;
}
/*--- Footer General Colors End ---*/

/* Footer Top Links Colors */
.footer-m2 .footer-top-links-clr,
.footer-m2 .footer-top-links-clr  a {
  width: 100%;
  text-align: -webkit-center;
  color: #FFF;
  background-image: -moz-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
}

/*--- Footer Bottom Links Colors Start ---*/
.footer-m2 .footer-btm-links a {
  color: #646464;
  text-decoration: none;
}
.footer-m2 .footer-btm-links a:hover,
.footer-m2 .footer-btm-links a:focus {
  color: #646464;
}
/*--- Footer Bottom Links Colors End ---*/

/*-------------------- Footer Model2 Colors End ----------------------*/

/*-------------------- Footer Model2 Media Queries Start -------------*/
@media (min-width: 768px) {
  /*--- Footer Top Links Block Starts ---*/
  .footer-m2 .footer-top-links li {
    display: inline-block;
  }
  .footer-m2 .footer-top-links li span {
    display: inline;
  }
  /*--- Footer Top Links Block Ends ---*/

  /*--- Footer Contacts-Partners Block Starts ---*/
  .footer-m2 .footer-contacts {
    padding-right: 9px;
  }
  .footer-m2 .footer-partners {
    padding-left: 9px;
    position: absolute;
    top: 50%;
    right: 0;
        transform: translateY(-50%);
       -o-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
  }


  /*--- Footer Contacts-Partners Block Ends ---*/
  
  /*--- Footer Copyright Block Starts ---*/
  .footer-m2 .footer-copyright-info {
    padding-right: 9px;
  }
  .footer-m2 .footer-copyright-logo {
    padding-left: 9px;
    padding-right: 18px;
  
  }
  /*--- Footer Copyright Block Ends ---*/
}
.phone{
  font-weight: 300;
  font-size: 15px;
  font-family: "Open Sans Light";
  color: black;
}

.buttonCall {
  border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  box-shadow: inset 0px 0px 1px 0px rgba(255, 255, 255, 0.75);
  color: #FFF;
  width: 247px;
  height: 33px;
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 1.714;
  border:none;
  margin-top: 14px;
}

.buttonCall:hover{
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.circle
{
    margin-right: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 2px 4px;
    width: 22px;
    height: 22px;
    vertical-align: top;

}
.adress
{
    margin-bottom: 14px;
    margin-top: 14px;
}

.Villeneuve{
  font-size: 11px;
  font-family: "Open Sans Light";
  color: rgb(160, 160, 160);
  line-height: 17px;
  font-weight: 300;
}

/*-------------------- Footer Model2 Media Queries End --------------*/
/*FOOTER_LINKS*/


/*GPE -GES*/
.locationicon
{
  width: 35px;
  height: 35px;
  background-color: #fff;
}