
/*HEADER CSS*/
*
{
  outline: none;
  margin: 0px;
  padding:0px;
}
ul li{
  list-style-type: none;
}
/* fonts*/
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Regular.woff');
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans/OpenSans-Semibold.woff');
}
@font-face
{
  font-family:"Open Sans Light";
  src:url("../fonts/OpenSans/OpenSans-Light.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'Damion';
  font-style: normal;
  font-weight: 400;
  src: local('Damion'), url(../fonts/Damion/font.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
body
{
  background-image: url("../images/background.png");
  font-family: 'Open Sans', sans-serif;
  }
  /*toggle_icon*/
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover
{
  background-color: transparent;
  border: none;
}
.navbar-inverse .navbar-toggle
{
  border: none;
}
#nav-icon3{
  width: 40px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

 #nav-icon3 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #FFFDD3;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 0px;
  height: 4px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 12px;
}

#nav-icon3 span:nth-child(4) {
  top: 24px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
.glyphicon
{
  font-size: 9px;
  font-weight: 300;
}
.navbar-inverse .navbar-nav>li>a
{
  font-family:  'Open Sans', sans-serif;
  font-weight: 400;
  color: #FFFDD3;
  font-size: 13px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
  color: #FFFDD3;
   background-color:#7b1c1e ;
}
.dropdown-menu
{
  padding:0px 0;
}
.navbar-inverse
{
  background-image: -moz-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  border-radius: 0px;
  position: fixed;
  z-index:111;
  width:100%;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li:hover
{
  color: white;
  background-color: black;
}
@media screen and (max-width:1206px) {
.navbar-inverse .navbar-nav>li>a

{font-size:12px ;
}
}
@media screen and (max-width:1206px) {
    .navbar-inverse .navbar-nav>li>a

    {font-size:10px ;
    }
}
 
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img
{
  width:100%;
}
.header
{
  position: relative;
  top:31px;
  z-index:9;
  padding:0;
  overflow: hidden;
  
}

.mainheader
{
position: relative;
}

.logo
{
    width: 280px;
    z-index: 13;
    position: absolute;
    top: 20px;
    right: 50%;
    transform: translate(50%, 0%);
    background-color: rgba(251,251,251,0.7);
    height: 100%;
    box-shadow: inset 0px 0px 0px -100px #ABABAB, 0px 0px 14px 0px #242424;
    -webkit-box-shadow: inset 0px 0px 0px -100px #ABABAB, 0px 0px 14px 0px #242424;
    -moz-box-shadow: inset 0px 0px 0px -100px #ABABAB,0px 0px 14px 0px #242424;
    -o-box-shadow: inset 0px 0px 0px -100px #ABABAB,0px 0px 14px 0px #242424;

}

.imglogo{
    height: 28%;
    margin: 0 auto;
    margin-top: 40px;
}
.flag1
{
  display: inline-flex;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}
.flag2
{
  margin-left: 5px;
  margin-right: 5px;
}

.PROPRIETES:hover
{
text-decoration: none;
color: #fff;
font-weight: 600;
text-shadow: -3px 0px 3px rgb(38, 38, 38);
}
.PROPRIETES1:hover
{
text-decoration: none;
color: #fff;
font-weight: 600;
text-shadow: -3px 0px 3px rgb(38, 38, 38);
}

.images{
position: relative;
width: 153px;
height: 153px;
background-image: url("../images/image.png");
background-repeat: no-repeat;
background-size: cover;
display: inline-block;
}
.images1{
position: relative;
width: 153px;
height: 153px;
background-image: url("../images/image1.png");
background-repeat: no-repeat;
background-size: cover;
display: inline-block;
}
.images2{
position: relative;
width: 153px;
height: 153px;
background-image: url("../images/image2.png");
background-repeat: no-repeat;
background-size: cover;
display: inline-block;
}
.images3{
position: relative;
width: 153px;
height: 153px;
background-image: url("../images/image3.png");
background-repeat: no-repeat;
background-size: cover;
display: inline-block;
}
.images4{
position: relative;
width: 153px;
height: 153px;
background-image: url("../images/image4.png");
background-repeat: no-repeat;
background-size: cover;
display: inline-block;
}
.images5{
position: relative;
width: 153px;
height: 153px;
background-image: url("../images/image5.png");
background-repeat: no-repeat;
background-size: cover;
display: inline-block;
}
.images6{
position: relative;
width: 153px;
height: 153px;
background-image: url("../images/image6.png");
background-repeat: no-repeat;
background-size: cover;
display: inline-block;
}

.PROPRIETES {
  font-size: 12px;
  font-family: "Open Sans";
  color: #fff;
  text-shadow: 0px 2px 4.76px rgba(0, 0, 0, 0.68);
  -moz-transform: matrix( 1.32477994831952,0,0,1.32940737583161,0,0);
  -webkit-transform: matrix( 1.32477994831952,0,0,1.32940737583161,0,0);
  -ms-transform: matrix( 1.32477994831952,0,0,1.32940737583161,0,0);
  cursor: pointer;
  position: absolute;
  top: 127px;
  left: 31px;
}
.PROPRIETES1 {
  font-size: 12px;
  font-family: "Open Sans";
  color: #fff;
  text-shadow: 0px 2px 4.76px rgba(0, 0, 0, 0.68);
  -moz-transform: matrix( 1.32477994831952,0,0,1.32940737583161,0,0);
  -webkit-transform: matrix( 1.32477994831952,0,0,1.32940737583161,0,0);
  -ms-transform: matrix( 1.32477994831952,0,0,1.32940737583161,0,0);
  cursor: pointer;
  position: absolute;
  top: 112px;
  right: 31px;
  line-height: 1.2;
}
.center
{
width: 100%;
position: relative;
top: -70px;
z-index: 39;
}
/*CONTENT CSS*/
.content
{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  
}
.Coups_de_Coeur
{
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 32px;
  margin-top: 0;
}
.pics
{
  position: relative;
}
.VENTE {
  background-image: -moz-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  font-size: 13px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 1.846;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 60px;
  height: 24px;
  z-index: 111;
}

.Title_bottom_border {
  background-image: url("../images/Title bottom border.png");
  width: 215px;
  height: 2px;
  margin:0 auto;
}


.Toutes_nos_annonces__ {
  font-size: 15px;
  font-family: "Open Sans";
  color: inherit;
  line-height: 4.846;
  -moz-transform: matrix( 0.92103075644223,0,0,0.92110874200426,0,0);
  -webkit-transform: matrix( 0.92103075644223,0,0,0.92110874200426,0,0);
  -ms-transform: matrix( 0.92103075644223,0,0,0.92110874200426,0,0);
  }
.Toutes_nos_annonces__:hover
{
text-decoration: none;
color: inherit;
text-shadow: -3px 0px 9px rgb(38, 38, 38);
}
.ourSecondCarousel
{
clear: both;
}
.ourSecondCarousel .owl-item
{
border-radius: 3px;
box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
width: 236px important;
background-color: white;

}
.ourSecondCarousel .owl-item img{
  height: 153px;
  object-fit: cover;
}
.ourSecondCarousel .owl-item
{
  width: none;
}
.hr {
border: 1px solid white;
position: absolute;
top: 6px;
position: absolute;
width:100%;
}
.hr1 {
border: 1px solid white;
position: absolute;
top: 58px;
position: absolute;
width:100%;
}
.Background {
position: relative;
background-image: -moz-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
background-image: -webkit-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
background-image: -ms-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
height: 66px;
}
.Les_Angles_735_000_€_FAI_1_ {
font-size: 16px;
font-family: "Open Sans";
color: rgb(255, 255, 255);
text-align: left;
-moz-transform: matrix( 0.92103075644223,0,0,0.92110874200426,0,0);
-webkit-transform: matrix( 0.92103075644223,0,0,0.92110874200426,0,0);
-ms-transform: matrix( 0.92103075644223,0,0,0.92110874200426,0,0);
position: absolute;
top: 14px;
left: 14px;
}
.table {
font-size: 13px;
line-height: 13px; 
margin-top: 18px;}
.table td, .table tr {
border: none;
text-align: -webkit-auto; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
padding: 5px 20px;
vertical-align: top;
border: none;
font-size: 13px;
font-family: "Open Sans";
color: rgb(135, 135, 135);
line-height: 8px;
-moz-transform: matrix( 0.92103075644223,0,0,0.92110874200426,0,0);
-webkit-transform: matrix( 0.92103075644223,0,0,0.92110874200426,0,0);
-ms-transform: matrix( 0.92103075644223,0,0,0.92110874200426,0,0);

}

.ourSecondCarousel .owl-nav
{
  display: block !important;
}

.ourSecondCarousel .owl-nav div
{
  position: absolute;
  background-color: white;
  width: 30px;
  height: 30px;
  padding-top: 4px;
  font-weight: bold;
  border: 1px solid #d5d5d5;
  color: #373737;
}

.ourSecondCarousel .owl-nav .owl-next
{
  right: -40px;
  bottom: 149px;
}

.ourSecondCarousel .owl-nav .owl-prev
{
  left: -40px;
  bottom: 149px;
}

.Bonne
{
  font-family: 'Damion', cursive;
  font-weight: 300;
  font-size: 32px;
  margin-top: 40px;
  text-align: -webkit-center;

}
.Parce{
  font-weight: 300;
  font-size: 15px;
  font-family: "Open Sans Light";
  color: black;
  text-align: justify;
  margin: 0 15px;
}

.slider-row
{
  padding-left: 80px;
  padding-right: 80px;
}
/*-------------------- Footer Model2 Content Starts -------------------*/
/*--- Footer General Styles Start ---*/
body>footer.footer-m2 {
  padding: 0;
}
.footer-m2 p {
  margin: 0;
  padding: 0;
}
/*--- Footer General Styles End ---*/

/*--- Footer Top Links Start ---*/
#footer
{
  background-color: #e5e5e5;
  width: 100%;
  height: auto;
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 300px;
  vertical-align: top;
}
.footer-m2 .footer-top-links ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  padding-top: 9px;
}
.footer-m2 .footer-top-links li {
  display: block;
  margin: 0;
  padding: 0;
}
.footer-m2 .footer-top-links li span {
  display: none;
  color: #e5e5e5;
}
.footer-m2 .footer-top-links li a {
  font-size: 11px;
  text-transform: uppercase;
  color: #FFFDD3;
}
/*--- Footer Top Links End ---*/

/*--- Footer Contacts-Partners Block Starts ---*/
.footer-m2 .footer-contacts-partners {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.footer-m2 .footer-contacts {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1px;
  padding-right: 0px;
}
.footer-m2 .footer-partners {
  line-height: 46px;
  padding-left: 0px;
  padding-right: 0px;
}
.footer-m2 .footer-partners div:nth-child(2) {
  padding-left: 5px;
}
/*--- Footer Contacts-Partners Block Ends ---*/

/*--- Footer Bottom Links Start ---*/
.footer-m2 .footer-btm-links {
  padding-bottom: 15px;
  padding-top: 10px;
  padding-left: 1px;
  padding-right: 1px;
}
.footer-m2 .footer-btm-links li {
  padding: 0 15px 0 0;
  float: left;
  vertical-align: top;
  line-height: 12px;
  padding-top: 2px;
}
.footer-m2 .footer-btm-links a {
  font-size: 11px;
  text-decoration: none;
}
.footer-m2 .footer-btm-links a:hover,
.footer-m2 .footer-btm-links a:focus {
  text-decoration: underline;
}
/*--- Footer Bottom Links End ---*/

/*--- Footer Copyright Block Starts ---*/
.footer-m2 .footer-copyright-block {
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer-m2 .footer-copyright-info {
  padding-left: 1px;
  padding-right: 0px;
}inline-flex;inline-flex;
.footer-m2 .footer-copyright-logo {

  padding-left: 2px;
  padding-right: 0px;

}
.footer-m2 .footer-copyright-block .footer-copyright-logo p {
  font-size: 9px;
  line-height: 10px;
}
.footer-m2 .footer-copyright-block .footer-copyright-logo div:nth-child(1) {
  padding-right: 3px;
  display: inline-flex;
}
.footer-m2 .footer-copyright-block .footer-copyright-logo div:nth-child(2) {
  padding-left: 3px;
  text-align: left;
}
/*--- Footer Copyright Block Ends ---*/

/*-------------------- Footer Model2 Content Ends --------------------*/

/*-------------------- Footer Model2 Colors Start --------------------*/
/*--- Footer General Colors Start ---*/
body>footer.footer-m2 {
  padding: 0;
 
}
.footer-m2 .footer-top-links-bg {
  background-color: transparent;
}
.footer-m2 .footer-contacts-partners-bg,
.footer-m2 .footer-btm-links-bg,
.footer-m2 .footer-copyright-block-bg {
margin-bottom: 17px;
}
.rowcontainer
{
    border-bottom: 1px solid #b0b0b0;
}

.footer-m2 a {
  color: #646464;
}
/*--- Footer General Colors End ---*/

/* Footer Top Links Colors */
.footer-m2 .footer-top-links-clr,
.footer-m2 .footer-top-links-clr  a {
  width: 100%;
  text-align: -webkit-center;
  color: #FFF;
  background-image: -moz-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
}

/*--- Footer Bottom Links Colors Start ---*/
.footer-m2 .footer-btm-links a {
  color: #646464;
  text-decoration: none;
}
.footer-m2 .footer-btm-links a:hover,
.footer-m2 .footer-btm-links a:focus {
  color: #646464;
}
/*--- Footer Bottom Links Colors End ---*/

/*-------------------- Footer Model2 Colors End ----------------------*/

/*-------------------- Footer Model2 Media Queries Start -------------*/
@media (min-width: 768px) {
  /*--- Footer Top Links Block Starts ---*/
  .footer-m2 .footer-top-links li {
    display: inline-block;
  }
  .footer-m2 .footer-top-links li span {
    display: inline;
  }
  /*--- Footer Top Links Block Ends ---*/

  /*--- Footer Contacts-Partners Block Starts ---*/
  .footer-m2 .footer-contacts {
    padding-right: 9px;
  }
  .footer-m2 .footer-partners {
    padding-left: 9px;
    position: absolute;
    top: 50%;
    right: 0;
        transform: translateY(-50%);
       -o-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
  }


  /*--- Footer Contacts-Partners Block Ends ---*/
  
  /*--- Footer Copyright Block Starts ---*/
  .footer-m2 .footer-copyright-info {
    padding-right: 9px;
  }
  .footer-m2 .footer-copyright-logo {
    padding-left: 9px;
    padding-right: 18px;
  
  }
  /*--- Footer Copyright Block Ends ---*/
}
.phone{
  font-weight: 300;
  font-size: 15px;
  font-family: "Open Sans Light";
  color: black;
}

.buttonCall {
  border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  box-shadow: inset 0px 0px 1px 0px rgba(255, 255, 255, 0.75);
  color: #FFF;
  width: 247px;
  height: 33px;
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 1.714;
  border:none;
  margin-top: 14px;
}

.buttonCall:hover{
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.circle
{
    margin-right: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 2px 4px;
    width: 22px;
    height: 22px;
    vertical-align: top;

}
.adress
{
    margin-bottom: 14px;
    margin-top: 14px;
}

.Villeneuve{
  font-size: 11px;
  font-family: "Open Sans Light";
  color: rgb(160, 160, 160);
  line-height: 17px;
  font-weight: 300;
}

/*-------------------- Footer Model2 Media Queries End --------------*/

/*page1 CSS*/
.Title_page1 {
  z-index: 68;
  background-image: url("../images/Title bottom border.png");
  width: 632px;
  height: 2px;
  margin:0 auto;
  margin-bottom: 40px;

}
.page1
{
  margin-bottom: 45px;
}
 /*page2 CSS*/

/*HEADER SEARCH*/
.Title_page2 {
  z-index: 68;
  background-image: url("../images/Title bottom border.png");
  width: 231px;
  height: 2px;
  margin:0 auto;
  margin-bottom: 40px;

}
.formcontainer
{
  padding:0px;
}
.nav-search
{
  background-color: #ebebeb;
  border-bottom: 1px solid rgb(113,15,18);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
  color:#FFFDD3;
  background-image: -moz-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
}
.nav-tabs>li>a
{
  font-size: 21px;
  font-family: "Open Sans Light";
  color: #505050;
}
.nav-tabs>li>a:hover
{
  border-color: transparent;
  background-color: transparent;
}
.form-group
{
  margin-bottom: 0px;
}
.searchbar {
  min-height: 67px;
  background-color: #f2f5f5;
}
.myform-control
{
  width: 190px;
  height: 39px;
  border-radius: 0px;
  display: inline-block;
  padding: 6px 12px;
  margin-left: 12px;
  margin-top: 14px;
}

.myform-control:focus
{
  border-color: #c8c8c8;
  box-shadow:inset 0 1px 1px #9b9a9a, 0 0 8px #999898;
}

.batserach {
  background-image: -moz-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  box-shadow: inset 0px 0px 1px 0px rgba(255, 255, 255, 0.75);
  width: 115px;
  height: 39px;
  font-size: 14px;
  font-family: "Open Sans";
  color: #ffffff;
  border:none;
  margin-left: 14px;
  margin-top: 14px;
  margin-bottom: 13px;
}
.SeeMore2
{
  float: right;
}
.flash
{
  background-image: url("../images/criteria-btn.png");
  width: 130px;
  height: 27px;
  background-size: cover;
  background-repeat: no-repeat;
}

.flashOn
{
  background-image: url("../images/change2.png");
  width: 130px;
  height: 27px;
  background-size: cover;
  background-repeat: no-repeat;
}

.checkbox label:after{
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr{
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.checkbox .cr .cr-icon{
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}
.checkbox label input[type="checkbox"]{
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon{
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon{
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}
.checkbox label
{
  padding-left:10px;
  padding-bottom: 16px;
  padding-right:10px;
}
.checkbox
{
  margin-bottom: 0px;
}



/********************** Listing Model3 Starts  **************************************/
/*-----------------------------------------------------------------------------------*/
/*-------------------- Listing Model3 Content Starts -----------*/
/*--- Listing Item Block General Starts ---*/

.star1
{
  border: 2px solid white;
  border-radius: 30px;
  padding: 3px;
  }
.ifac
  {
  padding: 1px 3px;
  }
.staricon
{
  padding: 6px 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.staricon:hover
{
    background-color: #7f2124;
    color:#fff;
    border: 1px solid #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6)

}
.soc
{
    background-color: #969696;
    color: #FFF;
    border: 1px solid #969696;
    border-radius: 0px;
}
.soc:hover
{
    background-color: #ffffff;
    color: #969696;
    border: 1px solid #969696;
    box-shadow:2px 2px 2px rgba(0, 0, 0, 0.6)
    }
.btn-group-sm>.btn, .btn-sm:hover
{
    color: #fff;
    background-color: rgba(16, 16, 14, 0.51);
    border: 1px solid #7c1d20;
    border-radius: 0px;
}
.btn-group-sm>.btn, .btn-sm
{
     color: #7f2124;
    background-color: rgba(255, 255, 255, 0.59);
    border-color: #802124;
    border-radius: 0px;
}
.btn-link-m1
{
  background-color: #7f2124;
  color: #fff;
  font-size: 13px;
  border:none;
}
.listing-m3
{
  padding: 0;
  margin-top: 70px;
}
.listing-m3 .listing-item-block {
  padding:0px;
  vertical-align: top;
  overflow: visible;
}
.listing-m3 .listing-item-block div[class*='col'],
.listing-m3 .listing-item-block header[class*='col'] {
  padding-left: 0px;
  padding-right: 0px;
}
.listing-m3 .listing-item-block div[class*='col'] {
  vertical-align: top;
}

.listing-m3 div.listing-item-content[class*='col'] {
  padding-left: 0px;
}
/*--- Listing Item Block General Ends ---*/

/*--- Listing Item Image Block Starts ---*/
.listing-m3 .listing-item-img-container {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.listing-m3 .listing-item-img-container figcaption .lst-img-caption-bg {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0,0,0,0.3);
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
.no-touchevents .listing-m3  figcaption:hover .lst-img-caption-bg,
.no-touchevents .listing-m3  figcaption:focus .lst-img-caption-bg,
.no-touchevents .listing-m3  figcaption:active .lst-img-caption-bg {
  opacity: 1;
}
.listing-m3 .listing-item-img-container > img {
  width: 100%;
  height: auto;
  
}
.listing-m3 figure.listing-item-img-container  {
  position: relative;
  display: inline-block;
  
}
.listing-m3 .listing-item-img-container figcaption {
  width: 100%;
  top: 0;
  left: 0;
}
.listing-m3 .lst-img-caption-top-btns {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 10%;
 
}

 .lst-img-caption-btm-btns {
    position: absolute;
    bottom: 0;
    right: 0px;
    left: 0;
    height: 47px;
    text-align: center;
    color: #fff;
    background: rgba(6, 6, 6, 0.35);
}
.lst-img-caption-btm-btns h2 {
  padding: 7px;
  margin: 0px;
}
.listing-m3  .lst-itm-actions {
  bottom: 85px;
}
.touchevents .listing-m3 .lst-img-caption-btm-btns {
  bottom: 30px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.no-touchevents .listing-m3  .lst-img-caption-btm-btns {
  bottom: 30px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transform: translateY(250%);
  -moz-transform: translateY(250%);
  -webkit-transform: translateY(250%);
  -ms-transform: translateY(250%);
  -o-transform: translateY(250%);
}

.no-touchevents .listing-m3 .lst-img-caption-btm-btns {
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.no-touchevents .listing-m3  .listing-item-img-container:hover .lst-img-caption-btm-btns,
.no-touchevents .listing-m3  .listing-item-img-container:focus .lst-img-caption-btm-btns {
  transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.listing-m3 .lst-img-caption-btm-btns  a {
  width: 100%;
  text-align: center;
}
/*--- Listing Item Image Block Ends ---*/

/*--- Listing Item Category ---*/
.listing-m3 .listing-item-category p {
  font-size: 1.2em;
  margin: 0;
  padding-bottom:0px;
}

/*--- Listing Item Reference ---*/
.listing-m3 .listing-item-reference p {
  font-size: 12px;
  padding: 0;
  margin-bottom: 9px;
  color: #969696;
  text-align: -webkit-left;
  margin-top: 4px;
}

/*--- Listing Item Header ---*/
.listing-m3 .listing-item-header h2,
{  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-size: 1.5em;
}

/*--- Listing Description Block Starts ---*/
.listing-m3 .listing-hr {
  height: 1px;  
}
.listing-m3 .listing-hr[class*='col'] {
  float: left;
  margin-left: 0.125px;
}
.listing-m3 .listing-item-description {
  padding-top: 15px;
  padding-bottom: 15px;
}
.listing-m3 .listing-item-description p {
  padding: 0;
 
}
/*--- Listing Description Block Ends ---*/

/*--- Listing Item Social ---*/
.listing-m3 div.listing-item-social[class*='col'] {
  vertical-align: bottom;
}

/*--- Listing Item Parameters Start ---*/
.listing-m3 .listing-item-parameters ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  columns: 2;
}
.listing-m3 .listing-item-parameters ul li{

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  vertical-align: top;


}
.listing-m3 .listing-item-parameters li[class*='col'] {
  padding-right: 0px;
}
/*--- Listing Item Parameters End ---*/

/*--- List Item Left Arrow ---*/
.listing-m3 .lst-itm-left-arrow ul li:before {
  content:'';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  display: inline-block;
  margin-right: 5px;
}

/*--- Listing Item Btn Block---*/

.listing-m3 .listing-item-btn-block a {
  width: 100%;

}
.circle2
{
    margin-right: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 4px 5px;
    width: 22px;
    height: 22px;
    vertical-align: top;

}
.buttonCall2 {
  border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  box-shadow: inset 0px 0px 1px 0px rgba(255, 255, 255, 0.75);
  color: #FFF;
  width: 235px;
  height: 33px;
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 1.714;
  border:none;
  margin-top: 14px;
}
.buttonCall2:hover{
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}


/*--- Listing Item Contacts ---*/
.listing-m3 div.listing-item-contacts[class*='col'] {
  
}
.listing-m3 .listing-item-contacts p {
  margin: 0;
  padding: 0;
}
.listing-m3 .listing-item-contacts p:nth-child(1){
  font-size: 1.3em;
  line-height: 17px;
}
.listing-m3 .listing-item-contacts img {
  width: 55px;
  height: 40px;
}
/*-------------------- Listing Model3 Content Ends -----------*/

/*-------------------- Listing Model3 Colors Start -----------*/
.listing-m3 .listing-item-block {
  color: #282828;
  background-color: #ebebeb;
  min-height: 382px;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.6);
}
.prov
{
  position: relative;
  top: 0px;
  right: 26px;
  width: 320px;
  height: 45px;
  background-image: -moz-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(136,44,47) 0%, rgb(113,15,18) 100%);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);

}
 .provence {
  margin-top: 4px;
  padding-left: 28px;
  font-size: 24px;
  color: #fff;
  text-align: -webkit-left;
  font-family: "Open Sans Light";
  padding-top: 9px;
  }


.com_box:after {
        content: '';
    position: absolute;
    right: 308px;
    top: 44px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #6d282a;
    clear: both;
    transform: rotate(225deg);
}
  


.listing-m3 .listing-item-category {
  color: #737373;
}
.logoiconong
{
    width: 91px;
    height: 80px;
    border: 1px solid #b4b4b4;
    padding: 19px 23px;
    display: inline-block;
    
}
.agencysudluberon
{
    display: inline-block;
    vertical-align: inherit;
    margin-left: 13px;
    font-size: 17px;
    font-weight: 700;
    font-family: "Open Sans";

}
.luberonphone
{
font-size: 13px;
}
.hrp
{
  border-top: 1px solid #b4b4b4;
}
.hrp p
{
margin-top: 10px;

}
.listing-m3 .listing-item-parameters {
  border-bottom: 1px solid  #b4b4b4;
  border-top: 1px solid  #b4b4b4;
  vertical-align: top;
  background-color: #cdcdcd;
  overflow-x: overlay;
  overflow-y: scroll;
  max-height: 115px;
}
.listing-m3 .lst-itm-left-arrow ul li:before {
  border-left: 5px solid #822427;
}

.listing-m3 .listing-item-contacts img {
  border: 1px solid #bcbcbc;
}
.listing-m3 .listing-item-contacts p:nth-child(1){
  color: #09affa;
}
.listing-m3 .listing-item-contacts p:nth-child(2){
  color: #707070;
}
/*-------------------- Listing Model3 Colors End -----------*/

/*-------------------- Listing Model3 Media Queries Start -------------*/
@media (min-width: 480px) and (max-width: 767px) {
  /* Listing Item Buttons */
  .listing-m3 .listing-item-btn-block a {
    width: 50%;
  }
}
@media (min-width: 480px) {
  .listing-m3 .lst-img-caption-btm-btns {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .listing-item-content
{
 padding: 10px !important; 
}  
.prov
{
right: 18px;
}
}
@media (min-width: 0px) {
  .listing-m3 .listing-item-block {
    float: left;
  }
}


@media (min-width: 992px) {
  .listing-m3 .listing-item-block {
    float: none;
  }  
  /* Listing Item Block Img Starts */
  .listing-m3 .listing-item-img-container > img {
    height: 382px;
    width: auto;
  }

  .touchevents .listing-m3 .lst-img-caption-btm-btns {
    bottom: 15px;
  }

  .no-touchevents .listing-m3 .listing-item-img-container:hover .lst-img-caption-btm-btns,
  .no-touchevents .listing-m3 .listing-item-img-container:focus .lst-img-caption-btm-btns {
      transform: translateY(0px);
     -moz-transform: translateY(0px);
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
  }
  /* Listing Item Block Img Ends */
  
  /* Listing Item Block Col Starts */
  .listing-m3.img-pull-left .listing-item-block div.listing-item-content[class*='col'] {
    padding-left: 6px;
    padding-right: 5px;
  }
  .listing-m3.img-pull-left .listing-item-block div.listing-item-img[class*='col'] {
    padding-right: 11px;
  }
  .listing-m3.img-pull-right .listing-item-block div.listing-item-content[class*='col'] {
    padding-right: 6px;
    padding-left: 5px;
  }
  .listing-m3.img-pull-right .listing-item-block div.listing-item-img[class*='col'] {
    padding-left: 10px;
    padding-right: 1px;
  }
  .listing-m3.img-pull-right .listing-item-block > div:nth-child(1) {
    float: right;
  }
  .listing-m3.img-pull-right .listing-item-content {
    float: left;
  }
  /* Listing Item Block Col Ends */
  
  .listing-m3 .listing-item-content {
    min-height: 370px;
  }
}
@media screen and (max-width:770px) {
    .section-bg

    {
        margin-right: 0px;
        margin-left: 0px;
    }
}
/*-------------------- Listing Model3 Media Queries End -------------*/
/********************** Listing Model3 Ends  *****************************************/
/*-----------------------------------------------------------------------------------*/

/*GPE -GES*/
.locationicon
{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #969696;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
.iconsservise, .iconsservise img
{
  margin-top: 5px;
}

.locationicon:hover
{
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}


/********************** Pagination Model3 Starts ************************************/
/*----------------------------------------------------------------------------------*/
/*-------------------- Pagination Model3 Content Starts -----------*/
.pagination-m3 ul.pagination {
  display: inline-block;
  margin: 10px 0 5px 0;
}
.pagination-m3 ul.pagination li {
  display: inline;
  /*display: inline-block;*/
  /*margin-left: -0.125em;*/
  /*margin-right: -0.125em;*/
}
.pagination-m3 ul.pagination li a {
  display: inline-block;
  height: 34px;
  width: 37px;
  text-decoration: none;
  padding: 7px 12px;
}
.pagination>li:first-child,
.pagination>li:first-child>a,
.pagination>li:first-child>span {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.pagination>li:last-child,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
/*-------------------- Pagination Model3 Content Ends -----------*/

/*-------------------- Pagination Model3 Colors Start -----------*/
 
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover
 {   color: #fff;
    background-color: #969696;
   
}
.pagination-m3 .pagination-bg {
  margin-top: 50px;
  margin-bottom: 30px;
}
.pagination-m3 ul.pagination li {
  background-color: #fefefe ;
}
.no-touchevents .pagination-m3 ul.pagination li:hover,
.pagination-m3 ul.pagination li:focus,
.pagination-m3 ul.pagination li:active,
.no-touchevents .pagination-m3 ul.pagination li:hover a,
.pagination-m3 ul.pagination li:focus a,
.pagination-m3 ul.pagination li:active a {
  background-color: #f0f0f0;
  color: #969696;
}

.pagination-m3 ul.pagination li.active  a {
  background-color: #3c3c3c;
  color: #FFF;
 
}
.pagination-m3 ul.pagination li a {
    color: #fff;
    background-color: #882c2f;
    border-radius: 8px;
    margin-left: 8px;
}
.pagination-m3 ul.pagination li a:hover
{
  background-color: #969696;
}
@media screen and (max-width:442px) {
    .pagination-m3 ul.pagination li a

    {
        margin-left: 0px;
    }
}
/*-------------------- Pagination Model3 Colors End -----------*/

/********************** Pagination Model3 Ends **************************************/
/*----------------------------------------------------------------------------------*/
/*PAGE3 CSS START*/

.Title_page3 {
  z-index: 68;
  background-image: url("../images/Title bottom border.png");
  width: 350px;
  height: 2px;
  margin:0 auto;
  margin-bottom: 40px;

}
.fa-arrows-alt
{
margin-right: 10px;
}

/*-------------------- Listing Details Content Starts --------------*/
/*--- Listing Details General Starts---*/
.no-bg{
  background-color: transparent !important;
}
.listing-details-m1 .lst-itm-dtl-content[class*='col'] {
  padding: 0px 0px 4px 0px;
}
.listing-details-m1 .lst-itm-dtl-btm-block {
  position: relative;
}
.listing-details-m1 .lst-itm-dtl-params {
  position: static;
}

.listing-details-m1 .lst-itm-dtl-params[class*='col'] {
  padding-left: 21px;
  padding-right: 9px;
  margin-left: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.listing-details-m1 .lst-itm-dtl-left-arrow ul li:before {
    content:'';
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    display: inline-block;
    margin-right: 5px;
}
/*--- Listing Details General Ends---*/

/*--- Listing Details Info Buttons Start ---*/
.listing-details-m1 .lst-dtl-info-buttons {
  padding-right: 0px;
}
.listing-details-m1 .lst-dtl-info-buttons span:not(:first-child) {
  margin-left: 6px;
}
/*--- Listing Details Info Buttons End ---*/

/* Listing Details Reference */
.listing-details-m1 .lst-itm-dtl-reference {
  padding-right: 0px;
}

/* Listing Details Actions */
.listing-details-m1 .lst-itm-dtl-actions a:not(:first-child) {
  margin-left: 6px;
}

/* Listing Details Social */
.listing-details-m1 .listing-item-social {
  padding-right: 9px;
  padding-left: 9px;
}

/*--- Listing Details Img Block Starts ---*/
.listing-details-m1 div.lst-itm-dtl-img[class*='col'] {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
}

.listing-details-m1 .lst-itm-dtl-img .lst-dtl-img-caption-top-btns {
  position: absolute;
  top: 12px;
  right: 12px;
}

.listing-details-m1 .lst-itm-dtl-img .btn-zoom {
  position: absolute;
  left: 18px;
  top: 13px;
  display: none;
    
}
.no-touchevents .listing-details-m1 .lst-itm-dtl-img .btn-zoom {
        transform: translateX(-130px);
     -moz-transform: translateX(-130px);
  -webkit-transform: translateX(-130px);
     -o-transform: translateX(-130px);
    -ms-transform: translateX(-130px);
      transition: all 0.3s;
   -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
     -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.no-touchevents .listing-details-m1 .lst-itm-dtl-img:hover .btn-zoom {
          transform: translateX(0px);
     -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
     -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
}
/*--- Listing Details Img Block Ends ---*/

/* Listing Details: Silder No Img */
.listing-details-m1 .slider-no-img figure .btn-zoom {
  display: none;
}


/*--- Listing Details Header Starts ---*/
.listing-details-m1 .lst-itm-dtl-header p,
.listing-details-m1 .lst-itm-dtl-header h2,
.listing-details-m1 .lst-itm-dtl-header h3{
  padding: 0;
  margin: 0;
}
.listing-details-m1 .lst-itm-dtl-header .lst-itm-dtl-header-txt1 {
  font-size: 1.1em;
  color: #882c2f;
}
.listing-details-m1 .lst-itm-dtl-header h2 {
  font-size: 1.5em;
  text-transform: capitalize;
}
.listing-details-m1 .lst-itm-dtl-header h3 {
  font-size: 1.5em;
  text-transform: capitalize;
  margin-top: 5px;
}
.listing-details-m1 .lst-itm-dtl-header .lst-itm-dtl-header-txt2 {
  font-size: 11px;
}
.listing-details-m1 .lst-itm-dtl-header {
  font-size: 11px;
}
.lst-itm-dtl-header-txt3 
{
font-size: 2.15em;
margin-bottom: 10px;
margin-top: 5px;
}
.lst-itm-dtl-header-txt3 span 
{
color: #882c2f;
}

/*--- Listing Details Header Ends ---*/

/*--- Listing Details Description Starts ---*/
.listing-details-m1 .lst-itm-dtl-desc p {
  margin: 0;
  padding: 10px 0;
  line-height: 22px;
  text-align: justify;
}

.listing-details-m1 .lst-itm-dtl-desc-header-txt span {
  padding: 5px 0px 7px 0px;
  font-size: 1.3em;
}


/*--- Listing Details Description Ends ---*/

/*--- Listing Details Hr  ---*/
.listing-details-m1 .lst-itm-dtl-hr {
  height:3px;
}

/*--- Note Text ---*/
.listing-details-m1 .lst-itm-dtl-note-txt p {
  margin: 0;
  padding: 35px 0 0 0;
  text-align: right;
}

/*--- Listing Details Params ---*/
.listing-details-m1 .lst-itm-dtl-params li {
  line-height: 20px;
  vertical-align: top;
  text-align: left;
  padding-bottom: 4px;
  
}
.listing-details-m1 .lst-itm-dtl-params li:nth-child(2n+1) {
  padding-right: 9px;
  padding-left: 3px;
}
.listing-details-m1 .lst-itm-dtl-params li:nth-child(2n) {
  padding-left: 3px;
  padding-right: 9px;
}
/*--- Listing Details Buttons Block ---*/
.listing-details-m1 .lst-itm-dtl-btns a {
  width: 100%;
}

/*--- Listing Details Bottom Block Starts ---*/
.listing-details-m1 .lst-itm-dtl-btm-block > div {
  padding-left: 0px;
}
.listing-details-m1 .lst-itm-dtl-btm-block > div:nth-child(2) {
  margin-top: 18px; 
}
/*--- Listing Details Bottom Block Ends ---*/

/*--- Listing Details Contacts Info Starts ---*/
.listing-details-m1 div.lst-itm-dtl-contact-info[class*='col-'] {
  padding-left: 22px;
  padding-right: 20px;
}
.listing-details-m1 .list-itm-dtl-contacts-btn a{
  width: 100%;
}

.listing-details-m1 div.lst-itm-dtl-cnt-img-container[class*='col-'] {
  padding-left: 0px;
  padding-right: 18px;
}
.listing-details-m1 .lst-itm-dtl-contacts-img {
  border: 1px solid #bcbcbc;
  padding: 4px;
}
.listing-details-m1 .lst-itm-dtl-contacts-img img {
  width: 100%;
  height: auto;
}
.listing-details-m1 .lst-itm-dtl-contacts-txt p {
  padding: 0 0 0 5px;
  margin: 0;
  line-height: 16px;
  font-weight: 600;
}
.listing-details-m1 .lst-itm-dtl-contacts-txt[class*='col-'] {
  padding-left: 0px;
  padding-right: 0px;
}
.listing-details-m1 .lst-itm-dtl-contacts-txt p:nth-child(1) {
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: normal;
}
.listing-details-m1 .lst-itm-dtl-contacts-txt p:nth-child(4) {
  padding-top: 15px;
}
.listing-details-m1 .lst-itm-dtl-contacts-txt p:nth-child(6) {
  padding-top: 5px;
}
/*--- Listing Details Contacts Info Ends ---*/

/*--- Listing Details Contacts Form Starts ---*/
.listing-details-m1 .form-block {
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 8px;
  padding-bottom: 14px;
}


.listing-details-m1 .form-block input,
.listing-details-m1 .form-block select,
.listing-details-m1 .form-block textarea {
  width: 100%;
}

.listing-details-m1 .form-block textarea {
  height: 170px;
}

/* Form Block Wrapper Starts */
.listing-details-m1 .form-block .form-col-wrapper[class*='col-'] {
  padding-left: 0px;
  padding-right: 0px;
}
.listing-details-m1 .form-block .form-col-wrapper > div[class*='col-'] {
  padding-left: 12px;
  padding-right: 12px;
}
.listing-details-m1 .form-block .form-btn-container {
  padding-left: 12px;
  padding-right: 12px;
}
.listing-details-m1 .form-block .form-btn-container div[class*='col-'] {
  padding-left: 12px;
  padding-right: 0px;
  margin-right: 0px;
}
/* Form Block Wrapper Ends */
/*--- Listing Details Contacts Form Ends ---*/

/*-------------------- Listing Details Content Ends ------------------*/

/*-------------------- Listing Details Colors Start ------------------*/
.listing-details-m1 .lst-itm-dtl-block.row-col {
  color: #282828;
  background-color: #f5f5f5;
  margin-left: 0px;
}

.listing-details-m1 .lst-itm-dtl-price-clr {
  color: #f99419;
}

/*--- Listing Details Params ---*/
.listing-details-m1 .lst-itm-dtl-left-arrow ul li:before {
    border-left: 5px solid #103097;
}

/*--- Listing Details Header Colors Start ---*/
.listing-details-m1 .lst-itm-dtl-content .lst-itm-dtl-header-txt1 {
  color: #737373;
}
.listing-details-m1 .lst-itm-dtl-content h2 {
  color: #3c3c3c;
  margin-top: 5px;
}
.listing-details-m1 .lst-itm-dtl-content hr
{
  border-top: 2px solid #b4b4b4;
}
.listing-details-m1 .lst-itm-dtl-content h3 {
  color: #3c3c3c;
}
.listing-details-m1 .lst-itm-dtl-content .lst-itm-dtl-header-txt2 {
  color: #969696;
}
.listing-details-m1 .lst-itm-dtl-content .lst-itm-dtl-header-txt3 {
  color: #969696;
}
/*--- Listing Details Header Colors End ---*/

/*--- Listing Details Description Starts ---*/
.listing-details-m1 .lst-itm-dtl-desc-header-txt > div {
  height: 41px;
  line-height: 41px;
  vertical-align: middle;
}
.listing-details-m1 .lst-itm-dtl-desc p {
  color: black;
}

.listing-details-m1 .lst-itm-dtl-desc-header-txt span {
  color: #22346d;
}
/*--- Listing Details Description Ends ---*/

.listing-details-m1 .lst-itm-dtl-hr-bg {
  background-color: #f8941a;
}

/*--- Listing Details Contacts Start ---*/
.listing-details-m1 .lst-itm-dtl-contacts {
  background-color: transparent;
}
.listing-details-m1 .lst-itm-dtl-contacts-img {
  border: 1px solid #bcbcbc;
  background-color: #FFF;
}
.listing-details-m1 .lst-itm-dtl-contacts-txt p:nth-child(1) {
  color: #505050;
}
.listing-details-m1 .lst-itm-dtl-contacts-txt p:nth-child(6) {
  color: #0a2b95;
}
.listing-details-m1 .lst-itm-dtl-contacts-txt p {
  color: #3c3c3c;
}
.listing-details-m1 .listing-item-contacts .row-col-float-left {
  background-color: #ffffff;
  border: 1px solid #b4b4b4;
}
/*--- Listing Details Contacts End ---*/

/*-------------------- Listing Details Colors End --------------------*/

/*-------------------- Listing Details Media Queries Start -----------*/
@media (min-width: 480px) {
  /* Listing Details Img */
  .listing-details-m1 .lst-itm-dtl-img .lst-dtl-img-caption-top-btns {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  .listing-details-m1 .lst-itm-dtl-img .btn-zoom {
    display: inline-block;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* Listing Details Contacts Starts */
  .listing-details-m1 .list-itm-dtl-contacts-btn a {
    width: 50%;
  }
  
  /* Listing Details Contacts End */
}
@media (min-width: 480px) and (max-width: 1199px) {
  /* Listing Details Buttons */
  .listing-details-m1 .lst-itm-dtl-btns a {
    width: 50%;
  }
  
}

@media (min-width: 768px) {
    /* Listing Details Header Starts */
  .listing-details-m1 .lst-itm-dtl-header .lst-itm-dtl-header-txt1 {
    font-size: 1.38em;
    margin-top: 5px;
  }
  .listing-details-m1 .lst-itm-dtl-header h2 {
    font-size: 2.15em;
  }
  .listing-details-m1 .lst-itm-dtl-header h3 {
    font-size: 2.15em;
  }
  /* Listing Details Header Ends */
  
  /* Listing Details Description */
  .listing-details-m1 .lst-itm-dtl-desc-header-txt span {
    font-size: 1.85em;
    color: #646464;
  }
}

@media (min-width: 1200px) {
  /* Listing Details Image Starts */
  .listing-details-m1 .lst-itm-dtl-img .lst-img-caption-top-btns {
    position: absolute;
    top: 20px;
    right: 48px;
  }
  /* Listing Details Image Ends */
  
  /* Listing Details Image */
  .listing-details-m1 div.lst-itm-dtl-cnt-img-container[class*='col-'] {
    padding-right: 9px;
  }
  
  /* Listing Details General */
  .listing-details-m1 .lst-itm-dtl-content[class*='col'] {
    padding: 0 0 4px 18px;
  }
  
  /* Listing Details Bottom Block */
  .listing-details-m1 .lst-itm-dtl-btm-block > div:nth-child(2) {
    margin-top: 10px; 
  }
  
}
/*-------------------- Listing Details Media Queries End -------------*/

/********************** Listing Details Model1 Ends  ****************************/
/*------------------------------------------------------------------------------*/

